{% extends "layout.html" %}
{% block headertext %}
Data Definition
{% endblock %}
{% block content %}

        <div class="row marketing">
            <div class="col-lg-12"> 
          <h4>Identifying Fields</h4>
        <font color='red'>"campnear_id":</font> Int. Unique Id used to identify campgrounds. Use this for setting start_id in API queries<br>
        <font color='red'>"facilityname":</font> String. Campground name<br>

        <h4>Contact fields</h4>
        <font color='red'>"telephone":</font> Campground telephone number <br>
        <font color='red'>"recreationgov_url":</font> String. If populated, gives the recreation.gov URL for the campground<br><font color='red'>"fs_link":</font> Link to the usds.fs* site for the campground, if available<br>
		<font color='red'>"site_url":</font> URL for the campground, typically from the agency which runs the facility<br>
		<font color='red'>"other_link":</font> additional campground URL if available<br>
		<font color='red'>"reserveamerica_url":</font> URL for reserveamerica.com if available<br>
		<font color='red'>"reservation_link":</font> URL to query for reservation information<br>


		<h4>Location Fields</h4>
        <font color='red'>"latlong":</font> Float,Float. Campground lat and long, i.e. 42.659147,-123.638272. NOTE the minus for longitude<br>
        <font color='red'>"facilitylatitude":</font> Float.<br>
		<font color='red'>"facilitylongitude":</font> Float.<br>
        <font color='red'>"elevation":</font> elevation of the campground in feet above sea level.<br>
        <font color='red'>"driveminutes":</font> Number of minutes to drive from Portland, OR - pair with drivehours below<br>
		<font color='red'>"drivehours":</font> Number of hours to drive from Portland, OR - pair with driveminutes above<br>
		<font color='red'>"drivemiles":</font> number of miles from Portland, OR to the campground<br>
		<font color='red'>"transitminutes":</font> Number of minutes on public transit from Portland, OR to campground. Pair with transithours below.<br>
		<font color='red'>"transithours":</font> Hours from Portland,OR to campground for public transit if available. Pair with transitminute above<br>

		<h4>Campground Amenity Fields</h4>
		<font color='red'>"cg_lookout":</font> True/False. Indicates of campground entry is a lookout<br>
		<font color='red'>"cg_conditions":</font> String. Shows current conditions (as of last update)<br>
		<font color='red'>"cg_reservable":</font> True/False. Indicates of campground is reservable<br>
		<font color='red'>"cg_usage":</font> String. Typically "light","medium","heavy" to indicate how heavily used the campground is<br>
		<font color='red'>"cg_group":</font> True/False. Indicates if campground has group camping<br>
		<font color='red'>"cg_solitude":</font> True/False. Special sauce of determining if this is a good place for solitude or not<br>
		<font color='red'>"cg_nearriver":</font> True/False. Indicates if campground is near a river<br>
		<font color='red'>"cg_fcfs":</font> True/False. Indicates if campground is first come, first served<br>
		<font color='red'>"cg_nearbeach":</font> True/False. Indicates if the campground is on a beach. NOTE - does not guarantee that campSITES are on the beach.<br>
		<font color='red'>"cg_transit_avail":</font> True/False. Indicates if public transit is available from Portland, OR to this campground<br>
		<font color='red'>"cg_proximitytowater":</font> True/False. Indicates if the campground is near bodies of water - lakes, rivers, ocean<br>
		<font color='red'>"cg_season":</font> String indicating operation dates/seasons<br>
		<font color='red'>"cg_status":</font> String. Campground status as of the last db update<br>
		<font color='red'>"cg_nearlake":</font> True/False. Indicates if campground is near a lake<br>
		<font color='red'>"cg_accessible":</font> True/False. Indicates if the campground has accessible campsites<br>
		<font color='red'>"cg_vault":</font> True/False. Indicates if vault toilets are available<br>
		<font color='red'>"cg_flush":</font> True/False. Indicates if flushing toilets are available at the campground<br>
		<font color='red'>"cg_shower":</font> True/False. Indicates if showers are available at the campground<br>
		<font color='red'>"cg_water":</font> String - false/unknown/true/seasonal - indication of water availability onsite<br>
		<font color='red'>"cg_petsallowed":</font> True/False. Indicates if campground has an established pet policy<br>

		<font color='red'>"nofee":</font> String/ True/False. Indicates if campground has no fee for camping<br>

		<font color='red'>"yurts_available":</font> True/False. Indicates if campground has yurts - NOT an idicator of yurts being available to reserve<br>
		<font color='red'>"cabins_available":</font> True/False. Indicates if there are cabins available at the campground  - NOT an idicator of cabins being available to reserve<br>


		<h4>Reservability Scraping Fields</h4>
		<font color='red'>"start_date":</font> mm/dd/YYYY indicating the start day (Friday) of the reservation window<br>
		<font color='red'>"end_date":</font> mm/dd/YYYY indicating the end day (Sunday) of the reservation window<br>
		<font color='red'>"last_updated":</font> mm/dd/YYYY indicating the last time availability for the above window was checked<br>

		<h4>Reservability Site Availability Fields</h4>
		<font color='red'>"sites_available":</font> Number of sites available for above reservation window<br>
		<font color='red'>"total_sites":</font> Number of total sites at the campground<br>

		<h4>Reservability Site Information Fields</h4>
		The below fields are an enumeration of the type of sites available to reserve in all campgrounds. Most campgrounds will have only a fraction of these available. null indicates that the given site type is not present at the campground, any numerical value indicates site availability for the reservation window above
		<font color='red'>"primitive":</font> null or int<br>
		<font color='red'>"cabin_deluxe":</font> null or int<br>
		<font color='red'>"group_shelter_nonelectric":</font> null or int<br>
		<font color='red'>"walk_to":</font>null or int<br>
		<font color='red'>"host_site":</font> null or int<br>
		<font color='red'>"management":</font> "0"<br>
		<font color='red'>"youth_camp":</font> null or int<br>
		<font color='red'>"picnic":</font> null or int<br>
		<font color='red'>"ada_standard":</font> null or int<br>
		<font color='red'>"horse_site":</font> null or int<br>
		<font color='red'>"ranches":</font> null or int<br>
		<font color='red'>"cabin":</font> null or int<br>
		<font color='red'>"lookout":</font> null or int<br>
		<font color='red'>"ada_standard_full":</font> null or int<br>
		<font color='red'>"group_walk_to":</font> null or int<br>
		<font color='red'>"barbeque":</font> null or int<br>
		<font color='red'>"group_shelter_electric":</font> null or int<br>
		<font color='red'>"standard_electric":</font> null or int<br>
		<font color='red'>"equestrian_nonelectric":</font> null or int<br>
		<font color='red'>"group_rv":</font> null or int<br>
		<font color='red'>"group_tent_only_area_nonelectric":</font> null or int<br>
		<font color='red'>"group_tent_only":</font> null or int<br>
		<font color='red'>"tent_site":</font> null or int<br>
		<font color='red'>"group_picnic_area":</font> null or int<br>
		<font color='red'>"pavilions":</font> null or int<br>
		<font color='red'>"picnic_shelter":</font> null or int<br>
		<font color='red'>"amphitheater":</font> null or int<br>
		<font color='red'>"standard_full":</font> null or int<br>
		<font color='red'>"totem_cabin":</font> null or int<br>
		<font color='red'>"group_standard_nonelectric":</font> null or int<br>
		<font color='red'>"ada_tent":</font> null or int<br>
		<font color='red'>"rv_electric":</font> null or int<br>
		<font color='red'>"mooring":</font> null or int<br>
		<font color='red'>"cabin_nonelectric":</font> null or int<br>
		<font color='red'>"standard_nonelectric":</font> null or int<br>
		<font color='red'>"horse_group_site":</font> null or int<br>
		<font color='red'>"yurt":</font> null or int<br>
		<font color='red'>"group_standard_area_electric":</font> null or int<br>
		<font color='red'>"rv_nonelectric":</font> null or int<br>
		<font color='red'>"cabin_electric":</font> null or int<br>
		<font color='red'>"group_day_use":</font> null or int<br>
		<font color='red'>"teepee":</font> null or int<br>
		<font color='red'>"group_standard_electric":</font> null or int<br>
		<font color='red'>"group_standard_area_nonelectric":</font> null or int<br>
		<font color='red'>"tent_only_nonelectric":</font> null or int<br>
		<font color='red'>"yurt_deluxe":</font> null or int<br>
		<font color='red'>"standard":</font> null or int<br>
		<font color='red'>"meeting_hall":</font> null or int<br>

		<h4>Internal only / unused fields. Ignore</h4>
		<font color='red'>"matchdist":</font> For internal use. Ignore<br>
		<font color='red'>"matchid":</font> Number for internal matching. Ignore<br>
		<font color='red'>"facilityid":</font> Agency campground id. Not unique<br>
		<font color='red'>"matchname":</font> For internal use<br> ignore.<br>
		<font color='red'>"level_0":</font> Int. Extraneous non unique number<br>
		<font color='red'>"facilityid_name":</font> Alphanumeric string identifying the campground (unique)<br>
		<font color='red'>"index":</font> Int. Ignore<br>
            </div>

        </div>

{% endblock %}
