{% extends "layout.html" %}
{% block headertext %}
campnear.me dev API
{% endblock %}
{% block content %}
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Data Definition</h4>
                <p>Check <a href="/data_definition">here</a> to find out what various fields mean and their expected values.</p>


		</div>
 	<div class="col-lg-6">
                <h4>Data Notes</h4>
                <p><a href="/data_info">State of the Data.</a> Things you might like to know when working with the campnear.me API</p>

                <h4>API examples</h4>
                <p>Some tips for using the API and (I'm fairly sure) <a href="/api_examples">working examples</a></p>

            </div>
        </div>
 {% endblock %}
